<h2>{{ titulo }}</h2>
<form action="{% url 'operaciones:enviar_op' %}" method="post">
    {% csrf_token %}
    Primer numero::
    <input type="number" name="numero1" required><br>
    Segundo numero:
    <input type="number" name="numero2" required><br>
    Educacion:
    <select name="operacion">
        <option value="suma" selected="selected">Suma</option>
        <option value="resta" >Resta</option>
        <option value="multiplicacion">Multiplicacion</option> 
    </select> <br>    
    <input type="submit" name="submit" value="Enviar">
</form>